body {
    background: #eef8ff;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 80px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}