.wrapper {
    width: 356px;
    padding: 20px 0 16px 8px;
    margin-left: 29px;
    position: absolute;
    transform: translateX(-50px);
    transition: all 0.3s ease-in-out;
}

footer {
  width: 100%;
  
 
  background: linear-gradient(to right, #00093c, #2d0b00);
  color: #fff;
  padding: 80px 0 30px;
  border-top-left-radius: 125px;
  font-size: 13px;
  line-height: 20px;
}

